@import "variables.sass"
@import "utilities.sass"
@import "fonts.sass"
@import "mixins.sass"
@import "header.sass"
@import "footer.sass"
@import "sets.sass"
@import "languages.sass"
@import "trains.sass"

*, ::before, ::after
    padding: 0
    margin: 0
    box-sizing: border-box

html
    font-size: 62.5%

body
    background-color: $body-bg-color
    font-family: 'Fira Sans'
    font-style: normal
    font-weight: 400
    font-size: 2rem

.container

.page-width
    width: 120rem
    padding: 0 10rem 0 10rem
    margin: 0 auto
